@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mars Terraformation</h1>
    <p class="lead">This applicaiton allows you to manage your resources and production within Mars Terraformation game.</p>
    <p>You can start by creating new game or joining a game already existing.</p>
</div>

<div class="row">
    <a href="@Url.Action("Create","Game")">
        <div class="col-md-6 text-center">
            <h2>Create Game</h2>
            <p>
                Create new game and invite your colleagues.
            </p>
        </div>
    </a>
    <a href="@Url.Action("Join","Game")">
        <div class="col-md-6 text-center">
            <h2>Join Game</h2>
            <p>Join your colleagues in their game.</p>
        </div>
    </a>
</div>