@font-face {
    font-family: 'Prototype';
    src: url('Prototype.ttf');
}

* {
    font-family: 'Prototype';
}

body {
    padding-bottom: 20px;
    font-size: medium;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 60px;
    margin-bottom: 50px;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.footer-text {
    font-size: x-small;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-btn {
    margin-top: 30px;
    border: 1px dashed black;
    border-radius: 25px;
    width:75%;
}

.add {
    width: 40px;
}

.minus {
    width: 40px;
}

.buttons {
    margin-top: 5px;
}

.buttons > .btn-success {
    margin-right: 15px;
}

.highlight-green {
    border: 3px solid green;
}

.highlight-red{
    border: 3px solid red;
}